datasets
pandas
matplotlib
scipy
scikit-learn
unidecode
inflect
librosa
python_speech_features
click
tensorboard
speechbrain==0.5.15
pyloudnorm
praat-parselmouth
pyworld
pycwt
tgt
g2p_en
PyYAML
matplotlib
scipy
scikit-learn
pandas
pyloudnorm
unidecode
transformers
pysptk
openai
openai-whisper
jiwer
setuptools==59.5.0
